# Dependencias
node_modules/

# Build
dist/
build/

# Variables de entorno
.env
.env.local
.env.*.local

# Prisma
prisma/migrations/dev.db*

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Cache
.pnpm-store/
.cache/

# TypeScript
*.tsbuildinfo
/src/generated/prisma
